.browseMoreBtn {
  border-radius: 10px;
  background: #0256CA;
  background: linear-gradient(135deg, #0256CA, #18DFE2);
  color: black;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}